<a href="https://colab.research.google.com/github/nileshrathod17/Exploratory-Data-Analysis/blob/main/Copy_of_Play_Store_App_Review_Analysis_Capstone_Project.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## <b> The Play Store apps data has enormous potential to drive app-making businesses to success. Actionable insights can be drawn for developers to work on and capture the Android market. </b>

## <b> Each app (row) has values for catergory, rating, size, and more. Another dataset contains customer reviews of the android apps.</b>

## <b> Explore and analyze the data to discover key factors responsible for app engagement and success. </b>

Let us start by importing some of the required libraries

In [1]:
import pandas as pd
import numpy as np

In [2]:
# Mount your drive and read the csv file. Make sure you are using the correct file path
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [5]:
file_path = '/content/drive/MyDrive/Colab Notebooks/Exploratory Data Analysis/googleplaystore.csv'
googlestore_df=pd.read_csv(file_path)

In [6]:
# let’s first have a look at the structure and the manner in which the data is organized.
googlestore_df.head(10)

                                                 App  ...   Android Ver
0     Photo Editor & Candy Camera & Grid & ScrapBook  ...  4.0.3 and up
1                                Coloring book moana  ...  4.0.3 and up
2  U Launcher Lite – FREE Live Cool Themes, Hide ...  ...  4.0.3 and up
3                              Sketch - Draw & Paint  ...    4.2 and up
4              Pixel Draw - Number Art Coloring Book  ...    4.4 and up
5                         Paper flowers instructions  ...    2.3 and up
6            Smoke Effect Photo Maker - Smoke Editor  ...  4.0.3 and up
7                                   Infinite Painter  ...    4.2 and up
8                               Garden Coloring Book  ...    3.0 and up
9                      Kids Paint Free - Drawing Fun  ...  4.0.3 and up

[10 rows x 13 columns]

In [7]:
# To know if there is any missing value or Nan value in the dataset
googlestore_df.isnull().sum()

App                  0
Category             0
Rating            1474
Reviews              0
Size                 0
Installs             0
Type                 1
Price                0
Content Rating       1
Genres               0
Last Updated         0
Current Ver          8
Android Ver          3
dtype: int64

In [8]:
# defining a function which it will be reusable
def printinfo():
    temp = pd.DataFrame(index=googlestore_df.columns)
    temp['data_type'] = googlestore_df.dtypes
    temp['null_count'] = googlestore_df.isnull().sum()
    temp['unique_count'] = googlestore_df.nunique()
    return temp

In [9]:
# Let’s call the function and see what it returns
printinfo()

               data_type  null_count  unique_count
App               object           0          9660
Category          object           0            34
Rating           float64        1474            40
Reviews           object           0          6002
Size              object           0           462
Installs          object           0            22
Type              object           1             3
Price             object           0            93
Content Rating    object           1             6
Genres            object           0           120
Last Updated      object           0          1378
Current Ver       object           8          2784
Android Ver       object           3            33

In [10]:
# Now we can start the process of data cleaning, lets start with the column
googlestore_df[googlestore_df.Type.isnull()]

                            App  ...         Android Ver
9148  Command & Conquer: Rivals  ...  Varies with device

[1 rows x 13 columns]

In [11]:
# now we can fill the missing value with free 
googlestore_df['Type'].fillna("Free", inplace = True)

In [12]:
# After filling the value we can check and see if that has been correctly placed.
googlestore_df.isnull().sum()

App                  0
Category             0
Rating            1474
Reviews              0
Size                 0
Installs             0
Type                 0
Price                0
Content Rating       1
Genres               0
Last Updated         0
Current Ver          8
Android Ver          3
dtype: int64

In [13]:
# Now, we can move on to the column Content Rating
googlestore_df[googlestore_df['Content Rating'].isnull()]

                                           App Category  ...  Current Ver Android Ver
10472  Life Made WI-Fi Touchscreen Photo Frame      1.9  ...   4.0 and up         NaN

[1 rows x 13 columns]

In [14]:
# let us have a look at all of its near rows data
googlestore_df.loc[10468:10477, :]

                                           App  ...   Android Ver
10468                         Tassa.fi Finland  ...    4.0 and up
10469              TownWiFi | Wi-Fi Everywhere  ...    4.2 and up
10470                               Jazz Wi-Fi  ...    2.3 and up
10471                         Xposed Wi-Fi-Pwd  ...  4.0.3 and up
10472  Life Made WI-Fi Touchscreen Photo Frame  ...           NaN
10473                  osmino Wi-Fi: free WiFi  ...    4.4 and up
10474                             Sat-Fi Voice  ...    2.2 and up
10475                         Wi-Fi Visualizer  ...    2.3 and up
10476                    Lennox iComfort Wi-Fi  ...  2.3.3 and up
10477              Sci-Fi Sounds and Ringtones  ...    4.0 and up

[10 rows x 13 columns]

In [15]:
# We can clearly see that row 10472 has missing data for the Categorycolumn
googlestore_df.dropna(subset = ['Content Rating'], inplace=True)

In [16]:
# We are having some of the unwanted columns
googlestore_df.drop(['Current Ver','Last Updated', 'Android Ver'], axis=1, inplace=True)

In [17]:
# we can fix the Rating column which contains a total of 1474 of missing values. 
modeValueRating = googlestore_df['Rating'].mode()

In [18]:
googlestore_df['Rating'].fillna(value=modeValueRating[0], inplace = True)

In [19]:
# Finally, after fixing all the missing values, we should have a look at our data frame
printinfo()

               data_type  null_count  unique_count
App               object           0          9659
Category          object           0            33
Rating           float64           0            39
Reviews           object           0          6001
Size              object           0           461
Installs          object           0            21
Type              object           0             2
Price             object           0            92
Content Rating    object           0             6
Genres            object           0           119

In [20]:
# Starting with the column Reviews , converting its type to int
googlestore_df['Reviews'] = googlestore_df.Reviews.astype(int)

In [21]:
# We can see that the changes have taken its effect or not by calling our
printinfo()

               data_type  null_count  unique_count
App               object           0          9659
Category          object           0            33
Rating           float64           0            39
Reviews            int64           0          6001
Size              object           0           461
Installs          object           0            21
Type              object           0             2
Price             object           0            92
Content Rating    object           0             6
Genres            object           0           119